# CMake #
#########
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

# Compiled source #
###################
*.com
*.class
*.o
*.slo
*.lo
*.obj

# Precompiled Headers #
#######################
*.gch
*.pch

# Compiled Dynamic libraries #
##############################
*.so
*.dylib
*.dll

# Fortran module files #
########################
*.mod

# Compiled Static libraries #
#############################
*.lai
*.la
*.a
*.lib

# Executables #
###############
*.exe
*.out
*.app

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log

# Images #
##########
*.png
*.pdf
*.jpg

# Temporal files #
##################
*.*~

# Byte-compiled / optimized / DLL files #
#########################################
__pycache__/
*.py[cod]
*$py.class

